<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="TouchComic_Bootstrapper" Version="1.0.0.0" Manufacturer="beldin.net" UpgradeCode="a2399b16-6e70-4402-96bd-7550bc43131d">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<MsiPackage SourceFile="$(var.TouchComic_WIXSetup.TargetPath)" />
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
		</Chain>
	</Bundle>
</Wix>